luoghi in cui sono esposte opere di De Kooning

In [1]:
import sparql_dataframe
import pandas as pd
# query wikidata 
endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

q = """ 
select ?label where {wd:Q132305 wdt:P6379 ?o .
                ?o rdfs:label ?label
                    FILTER(lang(?label) = 'en')}
"""

df = sparql_dataframe.get(endpoint, q, post=True)
df

                                  label
0                         Israel Museum
1            Museum of Fine Arts Boston
2            Metropolitan Museum of Art
3             Thyssen-Bornemisza Museum
4                  Museum of Modern Art
5          Solomon R. Guggenheim Museum
6               Cleveland Museum of Art
7         Museum Boijmans Van Beuningen
8               Corcoran Gallery of Art
9    San Francisco Museum of Modern Art
10           Stedelijk Museum Amsterdam
11                   Phoenix Art Museum
12             Art Institute of Chicago
13                                 Tate
14              National Gallery of Art
15        National Gallery of Australia
16                          Fogg Museum
17  Bavarian State Painting Collections
18         Minneapolis Institute of Art
19                 Toledo Museum of Art
20    Tehran Museum of Contemporary Art
21           Philadelphia Museum of Art
22              The Phillips Collection
23       Whitney Museum of American Art
24               Carnegie Museum of Art
25           Indianapolis Museum of Art
26      Smithsonian American Art Museum
27      The Nelson-Atkins Museum of Art
28      Princeton University Art Museum
29                Cincinnati Art Museum
30               Saint Louis Art Museum
31                   Seattle Art Museum
32        National museum of modern art
33               Buffalo AKG Art Museum
34                  Harvard Art Museums
35    Auckland Art Gallery Toi o Tāmaki
36       Mildred Lane Kemper Art Museum
37                              De Pont
38                   Picker Art Gallery
39                     Print Collection
40            Detroit Institute of Arts
41   Fine Arts Museums of San Francisco
42         National Gallery of Victoria
43         Museum of Fine Arts, Houston
44          Yale University Art Gallery
45     Los Angeles County Museum of Art

In [14]:
endpoint = "https://query.wikidata.org/bigdata/namespace/wdq/sparql"

q = """ 
SELECT  ?award ?awardLabel ?date 
WHERE
{
  wd:Q132305 p:P166 ?awardstatement .
  ?awardstatement ps:P166 ?award .
  ?awardstatement pq:P585 ?date .
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en,fr" . }
}
"""

df = sparql_dataframe.get(endpoint, q, post=True)
df

,award,awardLabel,date
0,http://www.wikidata.org/entity/Q1538552,Goslarer Kaiserring,1984-01-01T00:00:00Z
1,http://www.wikidata.org/entity/Q6667107,Logan Medal of the Arts,1951-01-01T00:00:00Z
2,http://www.wikidata.org/entity/Q1397208,Max Beckmann prize,1984-01-01T00:00:00Z
3,http://www.wikidata.org/entity/Q20746634,Talensprijs,1968-01-01T00:00:00Z
4,http://www.wikidata.org/entity/Q1789030,National Medal of Arts,1986-01-01T00:00:00Z
5,http://www.wikidata.org/entity/Q268670,Praemium Imperiale,1989-01-01T00:00:00Z
6,http://www.wikidata.org/entity/Q17144,Presidential Medal of Freedom,1964-01-01T00:00:00Z